# ------ GLOBAL SESTTINGS --------
DOMAIN_NAME=

# ------- BOT SETTINGS -----------
BOT_TOKEN=
ADMIN_TG=

# --------- DB SETTINGS ----------
POSTGRES_PASSWORD=

# --------- API SETTINGS ---------
JWT_SECRET_KEY=

# --------- RABBITMQ SETTINGS ----------
RABBITMQ_PASSWORD=

# -------- PROXY SETTINGS --------
PROXY_URL=  # If docker-compose.proxy.yaml is using you can set "socks5://localhost:10808"
SUBSCRIPTION_URL=