# Contains only BOT section for running in non-container mode

# ------- BOT SETTINGS -----------
DB_NAME="bookbot"
DB_USER="bookbot"
DB_HOST="localhost"
DB_PASSWORD=
DB_PORT=5432

REDIS_URL="redis://localhost:6379/0"

BOT_TOKEN=
WEBHOOK_URL=""

DEBUG=True
PROXY_URL=

ADMIN_TG=