# Only for developing. For production use tg_bot_web.env

DB_NAME="bookbot"
DB_USER="bookbot"
DB_HOST="localhost"
DB_PASSWORD=
DB_PORT=5432

# Keeping empty will create a in-memory storage for aiogram FSM
REDIS_URL=

BOT_TOKEN=
WEBHOOK_URL=""

DEBUG=True
SOCKS5_PROXY=
